@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap");

html {
  background: url(/pics/greekbg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 80%;
}

header {
  padding: 1%;
  margin: 5% 0 0 0;
  border-bottom: solid 1px black;
}

h1 {
  margin: 0;
  font-family: "Caesar Dressing", cursive;
  font-size: 100px;
}

span {
  color: rgb(165, 85, 165);
}

.canvas {
  position: relative;
  height: 520px;
  /* background: red; */
}

/* #buttonDiv {
  background: blue;
} */

.picdiv {
  width: 150px;
  height: 150px;
  display: inline-block;
  margin: 0 45px;
}

#rockpicdiv {
  background-size: 180px 180px;
  background: url("pics/rock_rest.svg") no-repeat;
}

#paperpicdiv {
  background: url("pics/paper_rest.svg") no-repeat;
}

#scissorspicdiv {
  background: url("pics/scissors_rest.svg") no-repeat;
}

#rockpicdiv:hover {
  background: url("pics/rock_chosen.svg") no-repeat;
}

#paperpicdiv:hover {
  background: url("pics/paper_chosen.svg") no-repeat;
}

#scissorspicdiv:hover {
  background: url("pics/scissors_chosen.svg") no-repeat;
}

button {
  border-radius: 10px;
  border: solid 1px grey;
  padding: 10px 15px;
  margin: 0 30px;
  font-size: 20px;
  width: 180px;
  cursor: pointer;
  z-index: 0;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
}

button:hover {
  color: white;
  border: none;
}

button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0%;
  background: rgb(190, 141, 190);
  z-index: -1;
  transition: 0.5s;
  border-radius: 0 0 50% 50%;
}

button:hover::before {
  height: 180%;
}

#restart {
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -90px;
}

p {
  font-size: 25px;
}

.winnerPara {
  opacity: 0;
  /* transition: opacity; */
  /* animation: showup 3s; */
  /* will-change: opacity; */
}

/* @keyframes showUp {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 20px;
    opacity: 1;
  }
} */

/* .showup {
  animation: showUp 3s;
} */

.resultPara {
  opacity: 0;
  /* transition: opacity; */
  /* will-change: opacity; */
}

/* 
.winnerPara.faded-out {
  opacity: 0;
}
*/

.faded-in {
  opacity: 1;
  /* animation: showup 3s; */
}

/* @keyframes showup {
  from {
    left: 0;
    opacity: 0;
  }
  to {
    left: 10px;
    opacity: 1;
  }
} */

footer {
  position: relative;
  bottom: -30px;
  color: rgb(165, 85, 165);
  margin: 0;
  padding: 20px;
  border-top: solid 1px black;
}

@media (max-width: 1435px) {
  h1 {
    width: 600px;
    margin: 0 auto;
    text-align: center;
  }
}

@media (max-width: 1000px) {
  h1 {
    width: 400px;
    margin: 0 auto;
    text-align: center;
  }

  .subcanvas {
    width: 380px;
    margin: 0 auto;
  }
  #threepicsdiv {
    width: 180px;
    float: left;
  }

  #buttonDiv {
    width: 180px;
    height: 462px;
    float: right;
  }

  #winnerIs {
    clear: both;
    padding: 30px 0 0 0;
  }

  .heyButton {
    margin: 55px 0;
  }

  .picdiv {
    margin: 0;
    padding: 0;
  }

  .canvas {
    position: relative;
    height: 850px;
  }

  #restart {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -90px;
  }

  footer {
    position: relative;
    bottom: -10px;
    color: purple;
    margin: 0;
    padding: 20px;
    border-top: solid 1px black;
  }
}
